@layer base {
  #root, #portal-root {
    /* font o'zgaruvchilari */
    --font-nunito: "Nunito", sans-serif;
    --font-roboto: "ROboto", sans-serif;

    /* rang o'zgaruvchilari */

    /* error ranglari */
    --error-color: #ed756b;

    /* brand rangi */
    --brand-color: #b79f7c;

    /* theme ranglari */
    --theme-color-secondary: rgba(54, 74, 99, 1);
    --theme-color-gray: rgba(128, 145, 167, 1);
    
    --bg-none: white;
    --bg-primary: rgba(245, 246, 250, 1);
    --bg-hover-color: rgb(235 238 242);

    /* border ranglari */
    --border-color: rgba(219, 223, 234, 1);

    /* typhography ranglari */
    --body-color: rgba(82, 100, 132, 1);
    --color-none: white;
  }

  body {
    img {
      user-select: none;
    }
  }
}